# Dependencies
node_modules/

# Build outputs
dist/
*.js
*.js.map
!vite.config.ts

# Parcel cache
.parcel-cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

